/* Osnovni blokovi */

html {
    height: 100%;    
}

body {
    position: relative;
    margin: 0;
    height: 100%;
    background-color: rgb(52, 47, 47);
    color: white;
    font-size: 1.563em;
}

#leviDeo {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(42, 11, 11);
}

main {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 80%;
    background-color: rgb(55, 26, 26);
    font-weight: bolder;
}

/* Linkovi */

a {
    font-weight: bolder;
    color: white;
    text-decoration-line: none;
    display: block;
}

#leviDeo a {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.938em;
    padding-bottom: 0.938em;
    text-align: center;
}

#leviDeo a:hover {
    background-color: rgb(103, 29, 29);
}

#prvi {
    height: 3.125em;
    visibility: hidden;
}

main a {
    padding: 0.625em;
    margin-bottom: 1.25em;
    margin-left: 5.625em;
    text-align: left;
    width: fit-content;
}

main a:hover {
    background-color: rgb(96, 50, 50);
}

/* Naslovi */

h2 {
    margin-bottom: 1.5em;
    margin-left: 3.125em;
    font-size: 2.188em;
}

/* Godine */

#prviSemestar {
    display: inline-block;
    font-size: 1em;
}

#drugiSemestar {
    display: inline-block;
    margin-left: 3.125em;
    font-size: 1em;
}

#nemaPredmeta1 {
    visibility: hidden;
}

.polozen, #nemaPredmeta {
    color: green;
}

.npolozen {
    color: red;
}

/* Stranice predmeta */

#div1 {
    margin-left: 5.625em;
}

/* Greska */

p {
    margin-top: 12.5em;
    margin-left: 3.125em;
}

/* Tabela */

table, th, td {
    border:rgb(42, 11, 11) 0.313em solid;
    border-collapse: collapse;
    text-align: center;
}

table {
    margin-top: 3em;
    margin-left: 6.25em;
}

th, td {
    width: 6.25em;
    height: 2.5em;
}

th {
    color: rgb(230, 200, 200);
}

.polozen {
    color: rgb(60, 189, 60);
}
