<aside class="site-sidebar">
  <nav aria-label="Main">
    <ul class="nav-list">
      <li><a href="{{ '/' | relative_url }}">Početna</a></li>
      <li><a href="{{ '/main_pages/prva.html' | relative_url }}">Prva godina</a></li>
      <li><a href="{{ '/main_pages/druga.html' | relative_url }}">Druga godina</a></li>
      <li><a href="{{ '/main_pages/treca.html' | relative_url }}">Treća godina</a></li>
      <li><a href="{{ '/main_pages/cetvrta.html' | relative_url }}">Četvrta godina</a></li>
    </ul>
  </nav>
</aside>

